.tarjeta{
  width: 250px; /* Ancho estándar */
  height: 350px; /* Altura estándar */
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 10px;
  color: violet;
}

.lista-tarjetas {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  color: black;
}